.help {
  background: var(--background-primary);
  border-radius: 50%;
  width: var(--spacing-24);
  height: var(--spacing-24);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.label {
  flex: 0 0 auto;
  margin: 0;
}

.tooltip {
  background: var(--background-secondary);
  border-radius: var(--spacing-12);
  width: max-content;
  max-width: 200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: var(--spacing-12);
  position: absolute;
  bottom: calc(100% + var(--spacing-12));
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip.show {
  opacity: 1;
}
