.colors {
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: var(--spacing-8);
  margin: var(--spacing-32) 0;
}

.colorRow {
  background: var(--background-tertiary);
  border-radius: var(--spacing-12);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  gap: var(--spacing-12);
  align-items: center;
  padding: var(--spacing-12);
}

.colorsSegment {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-8);
  align-items: center;
}

.colorLabel {
  width: 70px;
}

input[type="color"] {
  border: var(--background-secondary) var(--spacing-4) solid;
  border-radius: 50%;
  inline-size: 30px;
  block-size: 30px;
  padding: 1px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
}

.name {
  border-color: var(--background-primary);
}

.color {
  border: 2px solid var(--background-secondary);
  border-radius: var(--spacing-4);
  width: var(--spacing-24);
  height: var(--spacing-24);
}

.current {
  border-color: var(--accent-tertiary);
}
