.colors {
  max-width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  overflow: auto;
  gap: var(--spacing-8);
}

.colorRow {
  background: var(--background-tertiary);
  border-radius: var(--spacing-12);
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  gap: var(--spacing-16);
  align-items: center;
  padding: var(--spacing-12);
  position: relative;
}

.colorRowMultiple {
  padding-right: var(--spacing-48);
}

.colorsSegment {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-4);

  &.segment {
    gap: 0;
  }
}

.inputName,
.inputColor{
  border-color: var(--background-primary);
  background: var(--background-primary)!important;
  width: calc(var(--spacing-40) * 3);
}

.color {
  &.segment {
    width: var(--spacing-32);
    height: var(--spacing-32);
  }

  &.square {
    box-shadow: var(--box-shadow-1);
    border-radius: var(--spacing-4);
    width: var(--spacing-28);
    height: var(--spacing-28);
  }

  &.circle {
    box-shadow: var(--box-shadow-1);
    border-radius: 50%;
    width: var(--spacing-28);
    height: var(--spacing-28);
  }

  &.current {
    box-shadow: var(--accent-primary) 0 0 0 2px;
    border-radius: var(--spacing-4);
    z-index: 1;
    position: relative;
  }
  &.circle.current {
    border-radius: 50%;
  }
}

.colorPicker {
  border-radius: var(--spacing-4);
  border: var(--foreground-secondary) 1px solid;
  box-shadow: var(--box-shadow-2);
  border-radius: 50%;
  width: var(--spacing-24);
  height: var(--spacing-24);
  cursor: pointer;
}

.removeButton {
  background: var(--background-secondary);
  border: var(--background-tertiary) var(--spacing-4) solid;
  border-radius: 50%;
  width: var(--spacing-40);
  height: var(--spacing-40);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: var(--spacing-8);
  right: var(--spacing-8);
  padding: var(--spacing-8);
  margin: auto;
}

.colorWheel {
  background: var(--background-tertiary);
  border-radius: 50%;
  position: fixed;
  margin-top: 60px;
  left: 40px;
  display: none;
  padding: var(--spacing-8);
}

.showWheel {
  display: block;
  z-index: 100;
}

.eyedropperIcon {
  cursor: pointer;

  &:hover {
    fill: var(--accent-primary);
  }
}
