.footer {
  background: var(--background-secondary);
  border-radius: var(--spacing-12);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-12);
  padding: var(--spacing-4);
}

.options {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-12);
  align-items: center;
  padding: 0 var(--spacing-12);
}
