@import "@penpot/plugin-styles/styles.css";

:root {
  --spacing-44: calc(var(--spacing-4) * 11);
  --spacing-48: calc(var(--spacing-4) * 12);
  --spacing-52: calc(var(--spacing-4) * 13);
  --spacing-56: calc(var(--spacing-4) * 14);
  --box-shadow-1: rgba(0, 0, 0, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.2) 0px 2px 4px;
  --box-shadow-2: rgba(0, 0, 0, 0.7) 0px 0px 0px 3px, rgba(0, 0, 0, 0.2) 0px 2px 4px;

}

body {
  background-color: var(--background-primary);
  overflow: hidden;
  color: var(--text-color);
}

#app {
  min-width: 600px;
  width: 100%;
  height: 100lvh;
  overflow-y: auto;
  overflow-x: hidden;
}
