.actions {
  background: var(--background-secondary);
  border-radius: var(--spacing-12);
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-12);
  align-items: center;
  padding: var(--spacing-4);
  margin: var(--spacing-16) 0;
}

.steps {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex: 1 1 auto;
  gap: var(--spacing-8);
}

.stepsInput {
  width: calc(var(--spacing-40) * 2);
}

.add {
  align-self: flex-end;
}

.field {
  margin: 0 var(--spacing-12);
}
